body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: absolute;
  left: 50%;
  top: 40%;
  width: 90%;
  transform: translate(-50%,-50%);
  background-color:rgb(164, 250, 138) ;
<<<<<<< HEAD
=======
  border: solid 5px rgb(164, 250, 138);
>>>>>>> b374eb317e32732ff6e11d2e8d2a9a5898038f66
}
